<div class="container mt-4">
    <h1>Update Daily Income Form</h1>
    <form class="form" [formGroup]="updateIncomeForm" id="updateIncomeForm">
      <div class="mb-3 form-group">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" ngModel
        formControlName="date" required
        required>
        <small class="form-text text-muted danger" *ngIf="updateIncomeForm.get('date').invalid && (updateIncomeForm.get('date').dirty || updateIncomeForm.get('date').touched)">
          Date is required
        </small>
      </div>
      <div class="mb-3 form-group">
        <label for="category" class="form-label">Category</label>
        <select class="form-select" id="category" ngModel 
        formControlName="category"
        required>
          <option value="{{ cat.incomeCategoryName }}" *ngFor="let cat of loadedInCats" >{{ cat.incomeCategoryName }}</option>
        </select>
        <small class="form-text text-muted danger" *ngIf="updateIncomeForm.get('category').invalid && (updateIncomeForm.get('category').dirty || updateIncomeForm.get('category').touched)">
          Category is required
        </small>
      </div>
      <div class="mb-3 form-group">
        <label for="amount" class="form-label">Income Amount</label>
        <input type="number" class="form-control" id="amount" step="0.01" ngModel 
        formControlName="amount"
        required>
        <small class="form-text text-muted danger" *ngIf="updateIncomeForm.get('amount').invalid && (updateIncomeForm.get('amount').dirty || updateIncomeForm.get('amount').touched)">
          Amount is required
        </small>
      </div>
      <div class="mb-3 form-group">
        <label for="description" class="form-label">Description</label>
        <textarea class="form-control" id="description" rows="3" ngModel 
        formControlName="description"
        required></textarea>
        <small class="form-text text-muted danger" *ngIf="updateIncomeForm.get('description').invalid && (updateIncomeForm.get('description').dirty || updateIncomeForm.get('description').touched)">
          Description is required
        </small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!updateIncomeForm.valid" (click)="onUpdateIncomeDetail()">Submit</button>
      <span style="margin-left: 10px;"></span>
      <button type="button" class="btn btn-secondary" routerLink="">Cancel</button>
    </form>
  </div>